<p-menubar [model]="items" class="app-menubar">
  <ng-template #start>
    <img class="logo" src="assets/img/angular_logo.png" alt="Angular logo" />
    <span class="brand">MEAN Stack</span>
  </ng-template>
  <ng-template #end>
    <p-button
      [icon]="themeService.isDark() ? 'pi pi-sun' : 'pi pi-moon'"
      [rounded]="true"
      [text]="true"
      severity="secondary"
      (onClick)="themeService.toggleDarkMode()"
      aria-label="Cambiar tema" />
  </ng-template>
</p-menubar>

<app-add-modal #addModal [tituloModal]="'Añadir usuario'" (addAction)="onChangeData($event)"></app-add-modal>
