<p-button label="Editar" icon="pi pi-pencil" severity="warn" (onClick)="open()" />

<p-dialog [(visible)]="visible" [header]="tituloModal" [modal]="true" [style]="{ width: '28rem' }">
  <form [formGroup]="editForm" class="edit-form">
    <p-floatlabel variant="on" class="field">
      <input pInputText id="edit-email" formControlName="email" class="w-full" />
      <label for="edit-email">Email</label>
    </p-floatlabel>
    @if (editForm.get('email')?.invalid && editForm.get('email')?.touched) {
      <small class="error">{{ getEmailErrorMessage() }}</small>
    }

    <p-floatlabel variant="on" class="field">
      <input pInputText id="edit-first_name" formControlName="first_name" class="w-full" />
      <label for="edit-first_name">First Name</label>
    </p-floatlabel>
    @if (editForm.get('first_name')?.invalid && editForm.get('first_name')?.touched) {
      <small class="error">{{ getFirtsNameErrorMessage() }}</small>
    }

    <p-floatlabel variant="on" class="field">
      <input pInputText id="edit-last_name" formControlName="last_name" class="w-full" />
      <label for="edit-last_name">Last Name</label>
    </p-floatlabel>
    @if (editForm.get('last_name')?.invalid && editForm.get('last_name')?.touched) {
      <small class="error">{{ getLastNameErrorMessage() }}</small>
    }
  </form>

  <ng-template #footer>
    <p-button label="Cancelar" severity="secondary" [text]="true" (onClick)="visible.set(false)" />
    <p-button label="Guardar cambios" (onClick)="editarUsuario()" [disabled]="!editForm.valid" />
  </ng-template>
</p-dialog>
