/* ============================================================================ */
/*
/*  FOOTER
/*
/* ============================================================================ */
footer {
  background: var(--p-surface-900);
  color: var(--p-surface-0);
  padding: 1rem;
  margin-top: auto;
  border-top: 1px solid var(--p-surface-700);
}

.footer-content {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.footer-content p {
  margin: 0.15rem 0;
}

.footer-content small {
  color: var(--p-surface-300);
}
